.wrapper {
  width: 631px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 23px;
  margin-left: 73px;
  background-color: #5a5c66;
  padding: 16px 25px;

  input {
    color: #b2b7bf;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 137.687%;
    border: none;
    outline: none;
    background-color: #5a5c66;
  }
  input::placeholder {
    background-color: #5a5c66;
    border: none;
  }
  svg {
    display: inline-block;
  }
}
